<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<script type="text/css">
       body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        caption {
            caption-side: top;
        }

        .table {
            border: 1px solid black;
            border-collapse: collapse;
            border-spacing: 20px 10px;
        }

        .table td {
            border: 1px dotted black;
            padding: 10px;
            text-align: center;
        }
</script>
<body>
<h1>Spring Feign 적용</h1>
<h2>현재 가입한 사용자 목록</h2>

<table border="1">
    <thead>
        <tr>
            <th>이름</th>
            <th>사용자ID(시스템)</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="each : ${result}">
            <td th:text="${each.name}"></td>
            <td th:text="${each.userId}"></td>
            <td th:text="${each.email}"></td>
        </tr>
    </tbody>
</table>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
        $.ajax({
            url: "/user/users",
            type: "get",
            success: function (data) {
                //alert(data);
            }
        });
});

</script>

</html>
